@(city: String, myPlaces: List[PlaceResult])
@import helper._

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Google Places API</title>
    </head>
    <body>
		<p>Cool restaurants in @city</p>
		
		<ul>
			@for(p <- myPlaces) {
				<li>@p.getName() (Rating -  @p.getRating)</li>
				<br>
			}
		</ul>
		
		<br><br><br>
		<p>See restaurants in another city</p>
		@helper.form(action = routes.PlacesController.getPlaces(), 'id -> "placesForm") {
		<input type="text" name="city" id="city" value="" label="City Name">
		 <input type="submit" class="btn primary" value="See new interesting places"/>
		}
		
		<br><br><br>
		@helper.form(action = routes.UsersController.logout(), 'id -> "placesForm") {
		 <input type="submit" class="btn primary" value="Logout"/>
		}		
		
    </body>
</html>

