@(myuser: User)
@import helper._

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Google Places API</title>
    </head>
    <body>
		<title>Google Places</title>
		<h1> Welcome @myuser.getEmail()</h1>
		<p> To see a list of interesting restaurants around your city, click the link below. </p>
		<br><br>
		
		<p>Enter a city name to see restaurants there</p>
		@helper.form(action = routes.PlacesController.getPlaces(), 'id -> "placesForm") {
		<input type="text" name="city" id="city" value="" label="City Name">
		 <input type="submit" class="btn primary" value="See new interesting places"/>
		}
		<br><br><br>
		@helper.form(action = routes.UsersController.logout(), 'id -> "logoutForm") {
		 <input type="submit" class="btn primary" value="Logout"/>
		}
		
		<br><br><br>
		@helper.form(action = routes.UsersController.resetPassword(), 'id -> "resetPasswordForm") {
		 <input type="submit" class="btn primary" value="Reset password"/>
		}
	</body>
</html>