@(userForm: Form[User], message: String)
@import helper._

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Google Places API</title>
    </head>
    <body>
		<title>Google Places</title>
		<h1>@message</h1>
			<h3> Type your email followed by the new password</h3>		    	    
		     @helper.form(action = routes.UsersController.processResetPassword(), 'id -> "passwordreset") {
		        @helper.inputText(userForm("email"))
		        @helper.inputText(userForm("password"))
		        <input type="submit" class="btn primary" value="Reset"/>
		    }	
		    
	</body>
</html>




